<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <title>404</title>
  </head>
  <body id="bod">
    <div class="container">
      <div>
        <h1 class="title1">404</h1>
      </div>
      <div>
        <h3 class="title2">Lo intentaste pero...</h3>
        <div>
          <img src="../img/sadcat.jpg" alt="" />
          <p class="message1">No encontramos lo que estabas buscando</p>
        </div>
      </div>
    </div>
  </body>
</html>
